/* ########## start general styles ########## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --hue: 257;
  --primary-color: hsl(var(--hue), 100%, 44%);
  --secondary-color: 	hsl(253, 100%, 81%);
  --third-color: 	hsl(253, 100%, 93%);
  --gray-cardCheck: 	hsl(0, 0%, 96%);
  --gray-color: hsl(0, 0%, 3%);

  --font-general: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

@font-face {
  font-family: 'Forma DJR Display medium';
  src: url(/fonts/formadjrdisplay-medium.ttf);
}
@font-face {
  font-family: 'Forma DJR Display normal';
  src: url(/fonts/formadjrdisplay-normal.ttf);
}
@font-face {
  font-family: 'Forma DJR Display leve';
  src: url(/fonts/formadjrdisplay-leve.ttf);
}

body {
  font-family: var(--font-general);
  overflow-x: hidden;
}

/* ########## end general styles ########## */
/* ########## start header styles ##########*/

header {
  width: 100%;

  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;

  padding: 1.6rem 2.4rem;
}

.logo,
.nav-bar {
  align-self: center;
}

/* ########## end header styles ########## */
/* ########## start main styles ########## */

.hello {
  height: 85.2rem;

  background-color: var(--primary-color);

  overflow-x: hidden;
  overflow-y: hidden;
}

.textBox {
  color: #FFFFFF;
  text-align: center;

  padding: 7.2rem 2.0rem 7.0rem;
}

.textBox h1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 11.3rem;

}

.textBox p:nth-child(2) {
  font-size: 3.0rem;
  font-weight: 400;
  line-height: 4.5rem;

  margin: 0 auto 2.0rem;

  width: 100%;
  max-width: 31.6rem;
}

.textBox p:nth-child(3) {
  font-size: 1.8rem;
  line-height: 3.0rem;

  color: var(--secondary-color);

  width: 100%;
  max-width: 33.4rem;

  margin: 0 auto;
}

.btnWhatsapp {
  border: 0;
  border-radius: .5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;

  padding: .9rem 1.625rem;

  margin: 6.9rem auto;

  position: relative;
  z-index: 1;
}

.btnWhatsapp span {
  font-family: var(--font-general);
  font-size: 1.5rem;
  line-height: 3.0rem;
  letter-spacing: 0.1em;
}

.hello .btnWhatsapp {
  background-color: #FFFFFF;
}

.hello .btnWhatsapp span {
  color: var(--primary-color);
}

.gradient {
  position: relative;
  top: -13.2rem;
  margin: 0 auto;
}

.cards {
  position: relative;
  top: -11.0rem;
}

.card {
  background-color: var(--third-color);

  width: 100%;
  max-width: 33.4rem;

  border-radius: 1.0rem;

  margin: 0 auto 2.0rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 .9rem 4.0rem;
}

.card h2,
.card p,
.cardCheck h3,
.services h2 {
  color: var(--primary-color);
}

.card svg {
  margin-top: 4.0rem;
  margin-bottom: 1.0rem;
}

.card h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.card p {
  font-size: 1.6rem;
  line-height: 3.0rem;
  text-align: center;
}

.cardsCheck h2,
.acting h2,
.services h2 {
  font-size: 3.5rem;
  margin: 0 auto;
  max-width: 33.3rem;

  text-align: center;
}

.cardsCheck h2 {
  padding-left: 3.8rem;
  margin-bottom: 5.0rem;
  text-align: left;
}

.cardCheck {
  background-color: var(--gray-cardCheck);
  border: 1px solid var(--primary-color);
  border-radius: 1.0rem;

  max-width: 33.3rem;

  margin: 0 auto 2.4rem;
  padding: 3.8rem 1.7rem 3.7rem;
}

.cardCheck h3 {
  font-size: 3.3rem;
  line-height: 3.5rem;

  margin-block: 1.9rem;
}

.cardCheck p {
  color: #090909;
  font-size: 1.8rem;
  line-height: 3.0rem;
}

.cardCheck p span {
  font-style: italic;
}

.map {
  display: flex;
  justify-content: center;
}

.map svg {
  max-width: 33.3rem;
}

.acting {
  margin: 0 auto 14.0rem;
}

.acting h2 {
  text-align: center;
}

.acting span,
.services h3 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.0rem;
  color: var(--primary-color);

  max-width: 33.3rem;
}

.acting span {
  text-align: center;
  display: block;

  margin: 0 auto;
}

.acting p {
  text-align: center;
  margin: 1.1rem auto 0;
}

.acting p,
.services ul {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.0rem;

  max-width: 33.3rem;
}

.contentServices {
  display: grid;
  gap: 4.0rem;

  padding-left: 3.9rem;
}

.services h2 {
  margin-bottom: 4.0rem;
}

.service {

  width: 90%;
  max-width: 33.3rem;
}

.service h3 {
  margin-bottom: 1.0rem;
}

.services .btnWhatsapp {
  background-color: var(--primary-color);
}

.services .btnWhatsapp span {
  color: #FFFFFF;
}
/* ########## end main styles ########## */

/* ########## MEDIA QUERIES ########## */

@media (min-width: 1366px) {

  .textBox,
  .gradient,
  .cards,
  .cardsCheck,
  .acting,
  .services {
    width: 100%;
    max-width: 136.6rem;

    margin-inline: auto;
  }
  
  header {
    padding: 5.0rem 9.3rem;
  }

  .hello {
    max-height: 61.8rem;
  }

  .logo svg {
    width: 17.7rem;
    height: 5.13rem;
  }

  .textBox {
    max-width: 95.6rem;
    max-height: 41.6rem;
    margin: 1.0rem auto;
    padding: 0;

    text-align: left;

    position: relative;
    z-index: 1;
  }

  .textBox h1 {
    font-size: 8.5rem;
    line-height: 12.8rem;
  }

  .textBox p:nth-child(2) {
    font-size: 4.5rem;
    line-height: 6.0rem;
    margin: 0 0 2.0rem;

    max-width: 47.4rem;
  }

  .textBox p:nth-child(3) {
    font-size: 2.2rem;
    line-height: 3.0rem;
    margin: 0 0 2.0rem;

    max-width: 40.9rem;
  }

  .btnWhatsapp {
    margin: 0;

    position: relative;
    left: 67.3rem;
    bottom: 9.0rem;
  }

  .gradient {
    top: -15.2rem;
    width: 100%;
  }

  .gradient svg {
    width: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 33.4rem);
    grid-gap: 6.8rem;

    justify-content: center;
    top: -4.0rem;
  }

  .cardsCheck {
    margin-bottom: 16.8rem;
  }

  .cardsCheck h2 {
    font-size: 5.0rem;
  }

  .cardContainer {
    display: flex;
  }

  .cardCheck:nth-child(odd) {
    position: relative;
    top: 5.0rem;
  }

  .acting {
    max-width: 113.0rem;
  }

  .acting h2 {
    font-size: 5.0rem;
    color: var(--primary-color);

    max-width: 79.4rem;
    text-align: left;
    margin: 0;

    margin-bottom: 6.5rem;
  }

  .content {
    display: flex;
    align-items: center;

    gap: 4.5rem;
  }

  .map svg {
    max-width: 64.8rem;
  }

  .acting span,
  .acting p {
    text-align: left;

    font-size: 2.5rem;
    line-height: 4.0rem;

    color: var(--gray-color);
  }

  .acting span:nth-child(2) {
    margin-bottom: 2.8rem;
  }

  .services h2 {
    font-size: 5.0rem;
    max-width: 42.8rem;

    margin-bottom: 9.3rem;
  }

  .contentServices {
    grid-template-columns: 1fr 1fr;
    max-width: 96.0rem;

    padding-left: 0;

    margin: 0 auto;
  }

  .service {
    max-width: 38.0rem;
  }

  .service h3 {
    font-size: 2.5rem;
  }

  .services ul li {
    font-size: 1.8rem;
    line-height: 3.5rem;
  }

  .services .btnWhatsapp {
    position: static;
    margin: 12.5rem auto;
  }
}