* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --hue: 257;
  --primary-color: hsl(var(--hue), 100%, 44%);
  --secondary-color: 	hsl(253, 100%, 81%);
  --third-color: 	hsl(253, 100%, 93%);
  --gray-cardCheck: 	hsl(0, 0%, 96%);

  --font-general: 'Poppins', sans-serif;
}

.hide {
  display: none;
}

@font-face {
  font-family: 'Forma DJR Display medium';
  src: url(/fonts/formadjrdisplay-medium.ttf);
}
@font-face {
  font-family: 'Forma DJR Display normal';
  src: url(/fonts/formadjrdisplay-normal.ttf);
}
@font-face {
  font-family: 'Forma DJR Display leve';
  src: url(/fonts/formadjrdisplay-leve.ttf);
}

body {
  font-family: var(--font-general);
}


/* ########## start header styles ##########*/

header {
  height: 7.2rem;
  width: 100%;

  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;

  padding: 1.6rem 2.4rem;
}

.logo,
.nav-bar {
  align-self: center;
}

/* ########## end header styles ########## */
/* ########## start main styles ########## */

.hello {
  height: 85.2rem;

  background-color: var(--primary-color);
}

.textBox {
  color: #FFFFFF;
  text-align: center;

  padding: 7.2rem 2.0rem 7.0rem;
}

.textBox h1 {
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 11.3rem;

}

.textBox p:nth-child(2) {
  font-size: 3.0rem;
  font-weight: 400;
  line-height: 4.5rem;

  margin: 0 auto 2.0rem;

  width: 100%;
  max-width: 31.6rem;
}

.textBox p:nth-child(3) {
  font-size: 1.8rem;
  line-height: 3.0rem;

  color: var(--secondary-color);

  width: 100%;
  max-width: 33.4rem;
}

.btnWhatsapp {
  border: 0;
  border-radius: .5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;

  padding: .9rem 1.625rem;

  margin: 0 auto;

  position: relative;
  z-index: 1;
}

.btnWhatsapp span {
  color: #3F00DE;

  font-family: var(--font-general);
  font-size: 1.5rem;
  line-height: 3.0rem;
  letter-spacing: 0.1em;
}

.gradient {
  position: relative;
  top: -4.2rem;
}

.gradient svg {
  position: absolute;
  left: -49.6rem;
}

.cards {
  position: relative;
  top: -11.0rem;
}

.card {
  background-color: var(--third-color);

  width: 100%;
  max-width: 33.4rem;

  border-radius: 1.0rem;

  margin: 0 auto 2.0rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 .9rem 4.0rem;
}

.card:last-child {
  margin-bottom: 10.0rem;
}

.card h2,
.card p,
.cardCheck h3 {
  color: var(--primary-color);
}

.card svg {
  margin-top: 4.0rem;
  margin-bottom: 1.0rem;
}

.card h2 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.card p {
  font-size: 1.6rem;
  line-height: 3.0rem;
  text-align: center;
}

.cardsCheck h2 {
  font-size: 3.5rem;
  margin: 0 3.8rem 5.0rem;
  max-width: 33.3rem;
}

.cardCheck {
  background-color: var(--gray-cardCheck);
  border: 1px solid var(--primary-color);
  border-radius: 1.0rem;

  max-width: 33.3rem;

  margin: 2.4rem auto 2.4rem;
  padding: 3.8rem 1.7rem 3.7rem;
}

.cardCheck h3 {
  font-size: 3.3rem;
  line-height: 3.5rem;

  margin-block: 1.9rem;
}

.cardCheck p {
  color: #090909;
  font-size: 1.8rem;
  line-height: 3.0rem;
}

.cardCheck p span {
  font-style: italic;
}
/* ########## end main styles ########## */