* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --hue: 257;
  --primary-color: hsl(var(--hue), 100%, 44%);
  --secondary-color: 	hsl(253, 100%, 81%);
  --third-color: 	hsl(253, 100%, 93%);

  --font-text-medium: 'Forma DJR Display medium';
  --font-text-normal: 'Forma DJR Display normal';
  --font-text-light: 'Forma DJR Display leve'
}

.hide {
  display: none;
}

@font-face {
  font-family: 'Forma DJR Display medium';
  src: url(/fonts/formadjrdisplay-medium.ttf);
}
@font-face {
  font-family: 'Forma DJR Display normal';
  src: url(/fonts/formadjrdisplay-normal.ttf);
}
@font-face {
  font-family: 'Forma DJR Display leve';
  src: url(/fonts/formadjrdisplay-leve.ttf);
}


/* ########## start header styles ##########*/

header {
  height: 7.2rem;
  width: 100%;

  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;

  padding: 1.6rem 2.4rem;
}

.logo,
.nav-bar {
  align-self: center;
}

/* ########## end header styles ########## */
/* ########## start main styles ########## */

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 85.2rem;

  background-color: var(--primary-color);
}

.textBox {
  position: relative;
  z-index: 1;
  
  color: #FFFFFF;
  text-align: center;

  width: 78%;

  margin: 7.0rem auto 0;
}

.textBox h1 {
  font-size: 7.5rem;
  line-height: 9.0rem;

  font-family: var(--font-text-medium);
}

.textBox p strong {
  font-family: var(--font-text-medium);
}

.textBox p:nth-child(2) {
  font-size: 3.3rem;
  line-height: 4.5rem;

  font-family: var(--font-text-light);

  margin-bottom: 2.0rem;
}

.textBox p:nth-child(3) {
  font-size: 2.0rem;
  line-height: 3.0rem;

  font-family: var(--font-text-light);

  color: var(--secondary-color);

  margin-bottom: 7.0rem;
}

.textBox button {
  width: 28.5rem;
  height: 5.0rem;

  border: 0;
  border-radius: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}

.textBox button span {
  color: #3F00DE;

  font-size: 1.5rem;
  line-height: 3.0rem;
  letter-spacing: 0.1em;

  font-family: var(--font-text-normal);
}

.gradient {
  position: relative;
  bottom: .8rem;
  left: -49.6rem;
}

.cards {
  position: relative;
  z-index: 1;
  top: -12.0rem;
}

.card {
  background-color: var(--third-color);

  width: 90%;
  max-width: 33.4rem;

  border-radius: 1.0rem;

  margin: 0 auto 2.0rem;

  padding: 0 2.7rem 4.1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2,
.card p {
  color: var(--primary-color);
  text-align: center;
}

.card svg {
  margin-top: 4.0rem;
  margin-bottom: 1.0rem;
}

.card h2 {
  font-family: var(--font-text-medium);
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.card p {
  font-family: var(--font-text-light);
  font-size: 1.8rem;
  line-height: 3.0rem;
}
/* ########## end main styles ########## */